<div class="bg-slate-800 text-gray-100 py-5 shadow-lg">
   <div class="wrapper">
      <div class="flex items-center justify-between">
         <div class="align-y">
            <h1 class="text-2xl font-bold text-white mr-10">LOGO</h1>

            <div class="align-y">
               <a routerLink="/" routerLinkActive="text-white" class="link">
                  Accueil
               </a>
               <a
                  routerLink="/apropos"
                  routerLinkActive="text-white"
                  class="link"
               >
                  About
               </a>
               <a
                  routerLink="/contact"
                  routerLinkActive="text-white"
                  class="link"
               >
                  Contact
               </a>
            </div>
         </div>

         <div>
            <input
               type="text"
               class="bg-white rounded-md px-2 w-64 h-7 text-black outline-none"
               placeholder="Rechercher..."
               (input)="search($event)"
            />
         </div>

         <div class="align-y">
            <ng-container *ngIf="!isAuthenticated; else userLoggedIn">
               <a
                  routerLink="/login"
                  routerLinkActive="text-white"
                  class="link"
               >
                  Se connecter
               </a>
               <a
                  routerLink="/register"
                  routerLinkActive="bg-blue-700"
                  class="link"
               >
                  S'inscrire
               </a>
            </ng-container>

            <ng-template #userLoggedIn>
               <span class="text-white mr-4">Bienvenue, {{ userName }}</span>
               <a
                  href="javascript:void(0)"
                  (click)="logout()"
                  class="link text-red-400"
               >
                  Déconnexion
               </a>
            </ng-template>

            <a
               routerLink="/cart"
               routerLinkActive="text-white"
               class="link !gap-1"
            >
               <i class="fas fa-shopping-cart ml-2"></i>
               Panier
            </a>
         </div>
      </div>
   </div>
</div>
